.dashboard {
    width: 100vw;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    position: absolute;
    height: 100%;
  }
  
  .dashboardContainer {
    border-left: 1px solid rgba(0, 0, 0, 0.13);
    background-color: rgb(255, 255, 255);
    padding: 3rem 0;
  }
  
  .dashboardContainer > h1 {
    color: rgba(0, 0, 0, 0.733);
    font: 300 2rem "Roboto";
    text-align: center;
    width: 50%;
    padding: 1.5rem;
    margin: auto;
  }
  
  .dashboardSummary {
    margin: 2rem 0;
  }
  
  .dashboardSummaryBox2 {
    display: flex;
    background-color: rgb(131, 61, 61);
    justify-content: center;
    column-gap: 1rem;
    padding: 0 5rem ;
  }
  .links{
    background-color: blueviolet;
    padding: 0;
    color: rgb(0, 0, 0);
    font: 100 2rem "Roboto";
    text-align: center;
    flex:1;
    flex-basis: 0;
    height: 10vmax; 
    margin: 2rem 0;
    text-decoration: none;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3% 0; 
  
  }
  .homa {
    color: white;
    font: 300 2rem "Roboto";
    text-align: center;
    
    width: fit-content;
    margin: 0.4rem 2rem;
    justify-self: center;
  }
   
 

  
  @media screen and (max-width: 600px) {
    .dashboard {
      grid-template-columns: 1fr;
    }
  
    .dashboardContainer {
      border-left: none;
    }
  
    .homa {
      margin: 0;
    }
  
    .links {
      padding: 0.5rem;
      margin: 1rem;
      font: 300 0.9rem "Roboto";
    }
  }