.CarouselImage{
    height: 60vh;
    padding: 0.5%;
    border: 8px;
    border-style: double;
    border-color:black;
    box-shadow: inset;
    
}
.carousel{
    display: flex;
    padding: 20px 10px;
}
.mainDiv{
    background-color: #9DACFF;
}
.item_jobdetail{
    flex: 1;
    flex-basis: 0;
}
.otherdetailblock{
    margin-left: 40px;
    margin-bottom: 40px;
    flex: 1;
    background: #f0e7d8a7;
    flex-basis: calc(33.33% - 10px);
    max-width: 30%;
    box-sizing: border-box;
    border: 6px;
    border-radius: 12% 10% / 10% 12%;
    border-style:solid;
    border-color:#276FBF;
    padding: 1%;
    
}
.descr{
    font-size: large;
    font-weight: 600;
    margin: 50px 20px;
}
.job_title_heading{
    font-size: xx-large;
    font-style: bold;
    font-weight: 900;
    letter-spacing: 0.2 vmax;
}
.jobtitleblock {
    margin: 20px 20px 50px 20px;
    padding: 30px 0px;
    text-align: center;
    background: #f0e7d8a7;
    /* background: rgb(150, 129, 164); */
    /* background: linear-gradient(90deg, rgb(160, 98, 201) 0%, rgba(179,129,173,1) 50%, rgb(181, 163, 178) 99%); */
    border-radius: 40px / 50px;
    border-width: 1px;
    border-style:solid;
    border-color: black;
}

.applybutton{
    display:block;
    margin: 0 auto;
    width: 80%;
    padding: 2% 2%;
    color: antiquewhite;
    background-color: rgb(62, 62, 199);
}

.jobdetailblock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



@media (max-width: 767px){
    .otherdetailblock{
        max-width: 100%;
    }
}

    
  

