.profileContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0%;
    left: 0%;
    max-width: 100%;
    background: rgb(222,205,215);
background: linear-gradient(135deg, rgba(222,205,215,0.38273650524662994) 0%, rgba(74,59,101,1) 22%, rgba(119,104,226,0.3771342643502713) 64%, rgba(102,112,161,1) 76%, rgba(131,61,114,1) 88%, rgba(153,23,79,0.19226031477043948) 100%);
  }
  
  .profileContainer > div {
    display: flex;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .profileContainer > div:first-child > h1 {
    color: rgb(2, 2, 2);
    font: 500 2.2vmax "Roboto";
    transform: translateX(-10vmax) translateY(-2vmax);
    background: rgb(125,148,195);
    background: radial-gradient(circle, rgba(125,148,195,1) 99%, rgba(0,97,223,1) 100%);
    border-radius: 20px/60px;
    padding:1%;
    
  }
  
  .profileContainer > div:first-child > img {
    width: 25vmax;
    /* height: 25vmax; */
    border-radius: 100%;
    transition: all 0.5s;
    border-style: outset;
    border-width: 7px;
    border-color: rgba(134, 188, 249, 0.875);;
  }
  
  .profileContainer > div:first-child > img:hover {
    transform: scale(1.05);
  }
  
  .profileContainer > div:first-child > a {
    border: none;
    background-color: rgb(65, 46, 209);
    font: 400 1vmax "Roboto";
    color: white;
    text-decoration: none;
    padding: 0.5vmax;
    width: 30%;
    letter-spacing: 2px;
    margin: 4vmax;
    text-align: center;
    transition: all 0.5s;
    border-radius: 10px;
  }
  
  .profileContainer > div:first-child > a:hover {
    background-color: rgb(204, 78, 56);
  }
  
  .profileContainer > div:last-child {
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 5vmax;
    box-sizing: border-box;
  }
  
  .profileContainer > div:last-child > div >div> h4 {
    color: rgb(174, 234, 226);
    font: 400 1.2vmax "Roboto";
    font-size: x-large;
    letter-spacing:1px;
       
  }

  .happy{
    background: rgb(133,74,109);
    background: linear-gradient(45deg, rgba(133,74,109,1) 0%, rgba(109,65,191,1) 22%, rgba(51,43,106,1) 64%, rgba(32,40,79,1) 76%, rgba(89,85,101,1) 100%);
    width:80%;
    height: 70%;
    padding: 8%;
    padding-bottom: 5%;
    border-style: inset;
    border-color:rgba(134, 188, 249, 0.875);
    border-width: 7px;
    border-radius: 45px/60px;
  }
  
  .profileContainer > div:last-child > div >div  > p {
    color: rgb(255, 255, 255);
    font: 400 1vmax cursive;
    margin-bottom: 1.5vmax;
    margin-top: 0px;
    font-size: large;
    letter-spacing:1px;
  }
  
  .profileContainer > div:last-child > div:last-child {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  
  .profileContainer > div:last-child > div:last-child > a {
    border: none;
    background-color: rgb(35, 42, 174);
    font: 400 1vmax "Roboto";
    color: white;
    text-decoration: none;
    padding: 0.7vmax;
    text-align: center;
    transition: all 0.5s;
    margin: 1vmax 0;
    border-radius: 10px;
    letter-spacing: 2px;
  }
  
  .profileContainer > div:last-child > div:last-child > a:hover {
    background-color: rgb(31, 31, 31);
  }
  
  @media screen and (max-width: 600px) {
    .profileContainer {
      flex-direction: column;
    }
  
    .profileContainer > div:first-child > h1 {
      font: 500 3.2vmax "Roboto";
      transform: translateY(-2vmax);
      
    }
  
    .profileContainer > div:first-child > a {
      font: 400 1.7vmax "Roboto";
      padding: 1vmax;
    }
  
    .profileContainer > div:last-child {
      text-align: center;
      align-items: center;
    }
  
    .profileContainer > div:last-child > div > h4 {
      font: 400 2vmax "Roboto";
      font-size: small;
    }
  
    .profileContainer > div:last-child > div > p {
      font: 400 1vmax cursive;
      margin: 0.5vmax 0;
      font-size: small;
    }
    .happy{
        height: auto;
        width: auto;
       
    }
    .profileContainer > div:last-child > div:last-child > a {
      font: 400 1.8vmax "Roboto";
      padding: 1vmax;
      margin: 2vmax 0;
    }
  }